<div class="container-md">
  {{#if renderProducts}}
    <h1 class="mt-4 mb-2 bg-opacity-8 border rounded text-center">Home</h1>
    <div class="d-flex justify-content-between bg-opacity-8 border rounded pt-1 pb-1 mb-4">
      <div class="d-flex justify-content-start">
        <h3 class="mx-2">Usuario</h3>
      </div>
      <div class="d-flex justify-content-end">
      <button id="profile" class="btn btn-outline-secondary">Perfil</button>
      <button id="idCart" data-cart-id="{{user.cart}}" class="btn btn-outline-secondary mx-2">Carrito</button>
      </div>
    </div>
    <div class="container row d-flex justify-content-start text-center">
      {{#each renderProducts}}
        <div class="col-sm-4 mb-4">
          <div class="card" style="width: auto;">
            <img src={{this.thumbnail}} class="mx-auto mt-2" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text"><strong>Descripción:</strong>
                {{this.description}}</p>
              <p class="card-text"><strong>Categoria:</strong>
                {{this.category}}</p>
              <p class="card-text"><strong>Stock:</strong> {{this.stock}}</p>
              <p class="card-text"><strong>Precio:</strong> {{this.price}}</p>
              <p class="card-text"><strong>Code:</strong> {{this.code}}</p>
              <p class="card-text"><strong>Id:</strong> {{this.id}}</p>
              <button
                class="btn btn-outline-primary addCartBtn"
                data-product-id="{{this.id}}"
              >
                Agregar a carrito
              </button>
            </div>
          </div>
        </div>
      {{/each}}
      <div class="d-flex justify-content-center m-4">

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {{#if products.hasPrevPage}}
              <li class="page-item me-2 text-body-secondary"><a
                  class="page-link text-reset"
                  href={{products.prevLink}}
                ></a></li>
            {{/if}}
            <p class="btn border">
              Página
              {{products.page}}
              /
              {{products.totalPages}}
            </p>
            {{! Links a siguientes páginas }}

            {{#if products.hasNextPage}}
              <li class="page-item ms-2 text-body-secondary"><a
                  class="page-link text-reset"
                  href={{products.nextLink}}
                >>></a></li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </div>
  {{else}}
    <h2>NOT FOUND</h2>
    <p>{{error}}</p>
  {{/if}}
</div>
<script src="/js/home.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>