<div class="container-md">
  <h1 class="mt-4 mb-2 bg-opacity-8 border rounded text-center">Administrador de
    usuarios</h1>
    <div
      class="d-flex justify-content-between bg-opacity-8 border rounded pt-1 pb-1 mb-4"
    >
      <button
        id="profile"
        class="btn btn-outline-secondary ms-2"
      >Perfil</button>
      <button id="products" class="btn btn-outline-secondary me-2">Gestionar
        productos</button>
    </div>
  {{#if users}}
    <div
      class="d-flex justify-content-center bg-opacity-8 border rounded pt-1 pb-1 mb-4"
    >
      <button id="expiredUsers" class="btn btn-danger me-2">Eliminar usuarios
        expirados
      </button>
    </div>
    <div class="container row d-flex justify-content-start text-center">
      {{#each users}}
        <div class="col-sm-4 mb-4">
          <div class="card py-3" style="width: auto;">
            <h4>{{this.name}}</h4>
            <p class="card-text mt-2"><strong>Email:</strong>
              {{this.email}}
            </p>
            <p class="card-text"><strong>Rol:</strong>
              {{this.role}}
            </p>
            <p class="card-text"><strong>Ultima conexión:</strong>
              {{this.last_connection}}
            </p>
            <button
              data-user-id="{{this.id}}"
              data-user-rol="{{this.role}}"
              class="btn btn-outline-secondary mx-5 changeRole"
            >Modificar Rol</button>
            <button
              data-user-id="{{this.id}}"
              class="btn btn-danger mx-5 mt-3 deleteUser"
            >
              Eliminar usuario</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
      <p class="d-flex justify-content-center bg-opacity-8 border rounded pt-1 pb-1 mt-4">Actualmente no existen usuarios activos.</p>
  {{/if}}
</div>
<script src="/js/users.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>